<a href="https://colab.research.google.com/github/iamrajveersingh/Demo/blob/main/series_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Series** a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.

In [33]:
import pandas as pd
import numpy as np

s = pd.Series([1, 2, 3, np.nan, 5], )
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [36]:
import pandas as pd

# Creating a Series with a custom index
data = {'Name': 'Alice', 'Age': 25, 'City': 'New York'}
row_series = pd.Series(data)


print(row_series)

Name       Alice
Age           25
City    New York
dtype: object

In [37]:
import pandas as pd
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64